volumes:
  config:
    driver: local
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL:-/api}
    container_name: wireguard-manager
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    ports:
      - "5000:5000"
      - 51820:51820/udp
    volumes:
      - config:/etc/wireguard
    environment:
      - WG_WIREGUARD_BASE_DIR=/etc/wireguard
      - WG_SERVER_PORT=5000
    restart: unless-stopped