volumes:
  wireguard:
    driver: local
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wireguard-manager-backend
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    volumes:
      - wireguard:/etc/wireguard
    environment:
      - WG_WIREGUARD_USE_SUDO=false
      - WG_WIREGUARD_USE_SYSTEMD=false
      - WG_WIREGUARD_BASE_DIR=/etc/wireguard
      - WG_SERVER_PORT=5000
    restart: unless-stopped